@CHARSET "UTF-8";

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#map-canvas {width: 100%;right: 0px;position: absolute;}
#menu { position:absolute;z-index:10;padding: 10px;background-color: white; opacity: 0.8;}
	  